#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 10px;
    top: 10px;
    list-style-type: none;
    z-index: 70;
}

#menu li {
    float: left;
    padding: 5px 10px;
}

#menu a {
    float: left;
    color: rgba(60, 118, 61, 0.81);
    text-decoration: none;
}

#menu .active a {
    color: #FFF;
}

.section {
    text-align: center;
    position: relative;
}

.section1 {
    background: url(img/firstpage.jpg) center;
    background-size: cover;
}

p {
    font-weight: 300;
    line-height: 1.1;
    color: white;
}

h3 {
    /* position: absolute; */
    /* top: 40px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    color: #eef3f0;
}

.list-title {
    text-shadow: 1px 2px #53c1e8, 2px 4px #a1d0f7;
}

.pjt-title {
    text-shadow: 1px 2px #0db5bb, 2px 4px #d6f9f9;
}

.edu-title {
    text-shadow: 1px 2px #d4801f, 2px 4px #ffdaaf;
}

.work-title {
    text-shadow: 1px 2px #3f7bbb, 2px 4px #8baac7;
}

.item {
    /*display: inline-block;
    margin: 68px;
    width: 290px;*/
    min-height: 192px;
}

.item-title {
    /*display: inline;
    font-size: 27px;*/
}

/*.item-img {
     width: 100px;
}*/
.item-info {
    display: block;
    /*width: 200px;*/
    margin-top: 15px;
    /*margin-left: 39px;*/
}

.tag {
    background-color: #007bb7;
    color: #bfe8f3;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 6px;
    margin-bottom: 5px;
    font-size: 19px;
}

.familiar {
    opacity: 0.75;
}

.expert {
    opacity: 1;
}

a {
    color: #b1d6ef;
}

.email {
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    bottom: 70px;
}

h1, h2, h4 {
    color: white;
}

.intro {
    color: rgba(252, 252, 252, 0.88);
}

.name {
    text-shadow: 1px 2px #08ab65, 2px 4px #b4d4f3;
}

.guadan {
    font-size: 20px;
    font-weight: normal;
}

.pg-title {
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
}

.project {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.execise {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.edu h5 {
    font-size: 21px;
}

.dur {
    margin-bottom: 30px;
}
